extends layout

block content

  h1 Pakkeoversigt
    table
      tr
        th Pakke ID
        th Afsender
        th Modtager
        th Vægt (kg)
        th Mål (L x B x H i cm)
        th Indhold
        th Værdi (kr)
      - each parcel in parcels
        tr
          td= parcel.parcelID
          td= parcel.senderName
          td= parcel.receiverName
          td= parcel.parcelWeight
          td= parcel.parcelDimensions
          td= parcel.parcelContent
          td= parcel.parcelValue

  div.button-group
    a.button(href="/") Tilbage